{% extends 'new_main.html' %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="row">
            <div class="col-lg-10">
    
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Default Table</h5>
    

                  {% if id == "im department" %}


                  <!-- Default Table -->
                  <table class="table">
                    
                    
                    <thead>
                      <tr>
                        <th scope="col">Department Name</th>
                        <th scope="col">Department Name</th>
                        <th scope="col">action</th>       
                      </tr>
                    </thead>

                    <tbody>

                      {% for departments in obj %}

                      <tr>

                        <td>{{departments.id}}</td>
                        <td>{{departments.name_department}}</td>
                     <td>
                      
                      <a href="{% url 'delete_department' departments.id %}" class="btn btn-black btn-sm" title="Remove "><i class="bi bi-trash"></i></a>

                     </td> 
                      </tr>

                      {% endfor %}

                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
    
                  {% elif id  == "im employee" %}

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">first_name</th>
                        <th scope="col">last_name</th>
                        <th scope="col">department</th>
                        <th scope="col">Action</th>

                      </tr>
                    </thead>
                    <tbody>

                      {% for employees in obj %}

                      <tr>
                        <td>{{employees.first_name}}</td>
                        <td>{{employees.last_name}}</td>
                        <td>{{employees.department}}</td>
                        <td>
                          
                          <a href="{% url 'update_employee' employees.id %}" class="btn btn-black btn-sm" title="edit "><i class="bi bi-pencil-square"></i></a>
                          <a href="{% url 'delete_employee' employees.id %}" class="btn btn-black btn-sm" title="Remove "><i class="bi bi-trash"></i></a>

                        </td>
                      </tr>

                      {% endfor %}

                    </tbody>
                  </table>
                  <!-- End Default Table Example -->

                  {% endif %} 



                </div>
              </div>
    
            </div>
    
          </div>    
    
    </section>

  </main><!-- End #main -->


{% endblock content%}
