{% extends 'main.html' %}

{% block content %}


<a href=" {% url 'create-risk' %} ">create risk</a>
<a href=" {% url 'create_department' %} ">create department</a>
<a href=" {% url 'create_employee' %} ">create employee</a>
<span>{{total_risk}}</span>
<span>{{opened}}</span>
<span>{{closed}}</span>


<br>


{% for risk in risks %}

<a href=" {% url 'update_risk' risk.id %} ">update{{risk.id}}risk</a>
<a href=" {% url 'delete_risk' risk.id %} ">delete{{risk.id}}risk</a>
<a href=" {% url 'view_risk' risk.id %} ">view{{risk.id}}risk</a>


<br>

{% endfor %}


<hr>

{% for department in departments %}


<a href=" {% url 'delete_department' department.id %} ">delete{{department.id}}department</a>

<br>

{% endfor %}


<hr>

{% for employee in employees %}


<a href=" {% url 'update_employee' employee.id %} ">update{{employee.id}}employee</a>
<a href=" {% url 'delete_employee' employee.id %} ">delete{{employee.id}}employee</a>
<a href=" {% url 'view_employee' employee.id %} ">view{{employee.id}}employee</a>



<br>

{% endfor %}






{% endblock content%}